<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="hero-items owl-carousel">
    <div class="single-hero-items set-bg" data-setbg="assets/img/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <span>Bag,kids</span>
            <h1>Black friday</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>
            <a href="#" class="primary-btn">Shop Now</a>
          </div>
        </div>
        <div class="off-card">
          <h2>Sale <span>50%</span></h2>
        </div>
      </div>
    </div>
    <div class="single-hero-items set-bg" data-setbg="assets/img/hero-2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <span>Bag,kids</span>
            <h1>Black friday</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>
            <a href="#" class="primary-btn">Shop Now</a>
          </div>
        </div>
        <div class="off-card">
          <h2>Sale <span>50%</span></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Man Banner Section Begin -->
<section class="man-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="filter-control">
          <ul>
            <li class="active">Clothings</li>
            <li>HandBag</li>
            <li>Shoes</li>
            <li>Accessories</li>
          </ul>
        </div>
        <div class="product-slider owl-carousel">
          <%= render @products %>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="product-large set-bg m-large" data-setbg="assets/img/products/man-large.jpg">
          <h2>Men’s</h2>
          <a href="#">Discover More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Man Banner Section End -->
